


<div class="row ">
  <div class="col-md-12">
    <div class="widget">

      <div class="widget-content">
        <div class="row">
          <div class="col-md-3">
            <a ng-click="agregarModal()" class="btn btn-icon input-block-level"> <i class="icon-barcode fa-2x"></i>
              <div>Nueva Compra</div> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--  Modal Editar Producto -->
  <modal title="Editar Producto"  visible="editModal">

    <form class="form-horizontal row-border" ng-submit="editar()" novalidate="novalidate">
      <div class="form-group">
        <label class="col-md-3 control-label">Nombre <span class="required">*</span></label>
        <div class="col-md-9">
          <input type="text" ng-model="factura.nombre" class="form-control required">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Empresa <span class="required">*</span></label>
        <div class="col-md-9">
          <input type="text" ng-model="factura.empresa" class="form-control required email">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Telefono <span class="required">*</span></label>
        <div class="col-md-9">
          <input type="text" ng-model="factura.telefono" class="form-control required">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Direccion <span class="required">*</span></label>
        <div class="col-md-9">
          <input type="text" ng-model="factura.direccion" class="form-control required">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">RNC <span class="required">*</span></label>
        <div class="col-md-9">
          <input type="text" ng-model="factura.rnc" class="form-control required">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Cedula <span class="required">*</span></label>
        <div class="col-md-9">
          <input type="text" ng-model="factura.cedula" class="form-control required">
        </div>
      </div>

      <div class="form-actions">
        <input type="submit" value="Editar" class="btn btn-primary pull-right">
      </div>
    </form>

  </modal>
  <!-- Modal END Editar Compra Pedidos -->

  <!--  Modal Agregar Compra Pedidos -->
    <modal title="Agregar Compra"  visible="showModal">

      <form class="form-horizontal row-border" ng-submit="agregar()" novalidate="novalidate">

        <div class="form-group"  >
          <label class="col-md-3 control-label">Distribuidor <span class="required">*</span></label>
          <div class="col-md-9">
            <select ng-model="compra.distribuidor" class="form-control" ng-controller="distribuidorController" >
              <option value="0">Seleccione un articulo</option>
              <option ng-repeat="distribuidor in datos" value="{{distribuidor.id}}">{{distribuidor.empresa}}</option>
            </select>
          </div>
        </div>

<div class="form-group" >
  <label class="col-md-3 control-label">Articulo <span class="required">*</span></label>
  <div class="col-md-9">
    <select ng-model="compra.articulo" class="form-control" ng-controller="inventarioController" >
      <option value="0">Seleccione un articulo</option>
      <option ng-repeat="articulo in datos" value="{{articulo.id}}">{{articulo.articulo}}</option>
    </select>
  </div>
</div>

        <div class="form-group">
          <label class="col-md-3 control-label">Cantidad <span class="required">*</span></label>
          <div class="col-md-9">
            <input type="text" ng-model="compra.cantidad" class="form-control required">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Costo Total <span class="required">*</span></label>
          <div class="col-md-9">
            <input type="text" ng-model="compra.total" class="form-control required">
          </div>
        </div>

        <div class="form-actions">
          <input type="submit" value="Agregar Compra" class="btn btn-primary pull-right">
        </div>
      </form>

    </modal>
<!-- END Modal Agregar Compra Pedido -->

<!-- Modal Confirmacion Compra Pedido  -->
<!-- Begin Modal Confirmacion -->
    <modal title="Confirmar Eliminación" visible='showConfirmacion'>
      {{bodyModal}}
      <div class="modal-footer">
        <button ng-click="toggleModal()" type="button" class="btn btn-default">Cancelar</button>
        <button ng-click="borrarDistribuidor()" type="button" class="btn btn-primary">Si</button>
        </div>
    </modal>
    <!-- END Modal Confirmacion -->
  <!-- END Modal Confirmacion Producto  -->



<div class="row">

        <div class="col-md-12">
            <div class="widget box">

                <div class="widget-header">

                    <h4><i class="icon-reorder"></i> Lista de Pedidos <code>Pedidos</code></h4>
                    <div class="toolbar no-padding">
                        <div class="btn-group">
                            <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                        </div>
                    </div>
                </div>


                <div class="widget-content no-padding" style="display: block;">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="dataTables_header clearfix">
                        <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_filter" id="DataTables_Table_0_filter">
                                    <label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-search"></i></span>
                                            <input ng-model="query" type="text" aria-controls="DataTables_Table_0" class="form-control">
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover table-checkable table-responsive datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr role="row">
                                <th class="checkbox-column sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                                    <div class="checker">
                                        <span><input type="checkbox" class="uniform"></span>
                                    </div>
                                </th>

                                <th data-class="expand" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Articulo
                                </th>
                                <th data-class="expand" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Distribuidor
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Cantidad
                                </th>
                                <th data-hide="phone" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" >Total
                                </th>
                        <!--         <th >Estado
                        </th> -->
                                <th >
                                </th>
                            </tr>
                        </thead>
                        <!-- btn btn-sm btn-success -->


                    <tbody role="alert" aria-live="polite" aria-relevant="all"  >

                        <tr class="odd" ng-repeat="data in datos | filter:query">
                                <td class="checkbox-column  sorting_1">
                                    <div class="checker"><span><input type="checkbox" class="uniform"></span></div>
                                </td>
                                <!-- <td hidden>{{data.id}}</td> -->
                                <td ng-model="data.id_articulo" class=""><span class="responsiveExpander">{{data.producto.articulo}}</span></td>
                                <td ng-model="data.id_distribuidor" class=""><span class="responsiveExpander">{{data.distribuidor.empresa}}</span></td>
                                <td class="" ng-model="data.cantidad">{{data.cantidad}}</td>
                                <td ng-model="data.total" class="">RD${{data.total}}</td>

                                <td class="">
                                    <!-- <span class="icon-remove" ng-click="confirmacionModal(data)"></span> -->
                                    <!-- <span class="icon-edit-sign" ng-click="editarModal(data)"></span> -->
                                    <!-- <span class="label label-info" ng-click="verFactura(data)">Ver Factura</span> -->
                                </td>
                        </tr>

                        </tbody>
                    </table>

                    <div class="row">
                        <div class="dataTables_footer clearfix">
                            <div class="col-md-6">
                                <div class="dataTables_info" id="DataTables_Table_0_info">Showing 1 to 5 of 8 entries</div>
                            </div><div class="col-md-6">
                            <div class="dataTables_paginate paging_bootstrap">
                                <ul class="pagination">
                                    <li class="prev disabled">
                                        <a href="#">← Previous</a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="next"><a href="#">Next → </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>

        </div>
    </div>

<div>


        </div>
   </div>
